.grid-container{
    margin: 5rem auto 0 auto;
    text-align: center;
    display: grid;
    height: 100hv;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "special-offer trending-product trending-product trending-product"
        "special-offer trending-product trending-product trending-product"
        "special-offer trending-product trending-product trending-product"
        "special-offer our-special our-special our-special";
    grid-gap: 1rem;
}

.special-offer{
    grid-area: special-offer;
}
.trending-product{
background-color: blueviolet;
grid-area: trending-product;

}

.our-special{
background-color: rgb(126, 126, 83);
grid-area: our-special;
}

@media only screen and (max-width:550px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "special-offer" "trending-product" "our-special";
    }
    
}