.container-fluid {
    background-color: var(--background-color);
    color: var(--white-color);
}

.contact-title{
    text-align: center;
    padding: 1.5rem;
    font-size: 2.5rem;
    font-weight: 500;
}

.contactus-container {
    margin: 1.5rem auto 0 auto;
    display: grid;
    height: 100hv;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "contactus-img contactus-details";
    text-align: center;
    position: relative;
}


.contactus-details {
    grid-area: contactus-details;
    background-color: rgba(0, 99, 99, 0.212);
}

.contactus-img {
    grid-area: contactus-img;
}

.contactus-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
}

.contactus-name_email-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    position: relative;
}

.contactus-name-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
}


.contactus-email, .contactus-name{
    height: 45px;
    width: 300px;
    padding: 16px;
    outline: none;
    border: none;
    font-size: 1.1rem;
}

.contactus-email:focus , .contactus-name:focus{
    background-color: var(--card-color);
    outline-width: 1px;
    outline-style:double;
    outline-color: var(--primary-color);
    outline-offset: 0px;
    color: var(--white-color);
}
















@media only screen and (max-width:550px) {
    .contactus-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "contactus-img" "contactus-details";
    }
}